body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: visible;
}

.element {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
 .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1512px;
    height: 982px;
    position: relative;
  }
  
  .group {
    position: absolute;
    width: 726px;
    height: 1408px;
    top: -156px;
    left: -250px;
  }
  
 .rectangle {
    position: absolute;
    width: 593px;
    height: 1408px;
    top: 0;
    left: 0;
    background-color: #676767cc;
    border: 1px solid;
    border-color: #000000;
    transform: rotate(-180deg);
    filter: blur(200px);
    opacity: 1;
  }
  
.rec1 {
    position: absolute;
    width: 328px;
    height: 653px;
    top: 320px;
    left: 398px;
    animation: spin 2s ease-in-out;
  }

  @keyframes spin {
    to {
      transform: rotateY(360deg);
    }
  }
  
.rec2 {
    position: absolute;
    width: 153px;
    height: 503px;
    top: 317px;
    left: 486px;
    opacity: 0.3;
    transition: opacity 1s ease; 
    transition: transform 0.8s ease; 
    transform-origin: top center; 
}

.rec2:hover {
    opacity: 0.95; 
    transform: scaleY(1.2); 
}

.p1 {
    position: absolute;
    width: 325px;
    top: 186px;
    left: 663px;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "BIZ UDPMincho", serif;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 23px;
}
  
.p2 {
    position: absolute;
    width: 692px;
    top: 697px;
    left: 663px;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "BIZ UDPMincho", serif;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 23px;
}
  
.p3 {
    position: absolute;
    width: 320px;
    top: 301px;
    left: 1055px;
    -webkit-text-stroke: 0.3px #000000;
    font-family: "BIZ UDPMincho", serif;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 23px;
}
  
.next {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 80px;
    left: 1410px;
    font-family: "BIZ UDPMincho", serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: black;
}

.p1, .p2, .p3 {
    text-shadow: none;
    transition: text-shadow 0.8s ease; 
}

.p1:hover, .p2:hover, .p3:hover {
    text-shadow: 30px 5px 3px #848484;
  
}
  