body{
   background-color: white;
   margin: 0;
   padding: 0;
   height: 100vh;
   overflow: clip;
}

.shadow {
   width: 1820px; 
   height: 830px; 
   left: -160px; 
   top: 370px; 
   position: absolute; 
   mix-blend-mode: darken; 
   background: #191919; 
   box-shadow: 200px 200px 200px; 
   filter: blur(200px);
   animation: moveShadow 5s forwards; 
}

@keyframes moveShadow {
   from {
     top: 830px; 
   }
   to {
     top: 370px; 
   }
}

.p2 {
   width: 635px; 
   height: 300px; 
   left: 439px; 
   top: 441px; 
   position: absolute; 
   color: #E0E0E0; 
   font-size: 14px; 
   font-family: "BIZ UDPMincho", serif;
   font-style: normal;
   font-weight: 400; 
   line-height: 30px; 
   word-wrap: break-word;
}

.p1 {
   width: 635px; 
   height: 100px; 
   left: 439px; 
   top: 241px; 
   position: 
   absolute; 
   color: black; 
   font-size: 14px; 
   font-family: "BIZ UDPMincho", serif;
   font-style: normal;
   font-weight: 900; 
   line-height: 30px; 
   word-wrap: break-word;
}

.next {
   width: 30px; 
   height: 30px; 
   left: 1452px; 
   top: 30px; 
   position: absolute; 
   text-align: center; 
   color: black; 
   font-size: 25px; 
   font-family: "BIZ UDPMincho", serif;
   font-style: normal;
   font-weight: 400; 
   line-height: 30px; 
   word-wrap: break-word;
}

a {
   text-decoration: none;
   color: black;
}



 