body {
  background-color: #d8b288;
  color:#723826;
  font-family:monospace;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

p{
 background-color:#E3D2B8;
 font-size:15px;
 margin: 20px 50px 35px 50px;
 line-height: 1.2;
}

p{
 background-color:#E3D2B8;
 font-size:15px;
 margin: 20px 50px 35px 50px;
}
