.element {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element .div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
}

.element .overlap {
    left: 172px;
    filter: blur(3px);
    background: linear-gradient(180deg, rgb(0.15, 0.15, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
    position: absolute;
    width: 359px;
    height: 821px;
    top: 80px;
    border-radius: 3px;
}

.element .text-wrapper {
    position: absolute;
    width: 305px;
    top: 29px;
    left: 27px;
    font-family: "BIZ UDPMincho-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 26px;
}

.element .overlap-group {
    left: 982px;
    filter: blur(3px);
    background: linear-gradient(180deg, rgb(0.15, 0.15, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
    position: absolute;
    width: 359px;
    height: 821px;
    top: 80px;
    border-radius: 3px;
}

.element .overlap-group-2 {
    left: 576px;
    position: absolute;
    width: 359px;
    height: 821px;
    top: 80px;
    border-radius: 3px;
}

.element .rectangle {
    position: absolute;
    width: 359px;
    height: 821px;
    top: 0;
    left: 0;
    border-radius: 3px;
    transform: rotate(-179.98deg);
    filter: blur(3px);
    background: linear-gradient(180deg, rgb(0.15, 0.15, 0.15) 0%, rgba(217, 217, 217, 0) 100%);
}

.element .for-the-beauty-of {
    position: absolute;
    width: 305px;
    top: 392px;
    left: 28px;
    font-family: "BIZ UDPMincho-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 26px;
}
