.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-pro .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
}

.macbook-pro .overlap-group {
    position: relative;
    height: 982px;
}

.macbook-pro .image {
    position: absolute;
    width: 914px;
    height: 981px;
    top: 1px;
    left: 0;
}

.macbook-pro .img {
    position: absolute;
    width: 598px;
    height: 982px;
    top: 0;
    left: 914px;
    object-fit: cover;
}

.macbook-pro .component {
    left: 771px;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 587px;
    background-color: #fffefe;
    border-radius: 999px;
    border: 3px solid;
    border-color: #65a6e2;
}

.macbook-pro .ellipse {
    left: 154px;
    position: relative;
    width: 136px;
    height: 136px;
    top: 4px;
    background-color: #65a6e2;
    border-radius: 68px;
}

.macbook-pro .ellipse-wrapper {
    left: 442px;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 587px;
    background-color: #fffefe;
    border-radius: 999px;
    border: 3px solid;
    border-color: #65a6e2;
}

.macbook-pro .div {
    left: 4px;
    position: relative;
    width: 136px;
    height: 136px;
    top: 4px;
    background-color: #65a6e2;
    border-radius: 68px;
}

.flex-container {
    flex: column
    width: 100%
}


@media screen {
    
.toggle-container {
    position: fixed;
    left: 

}

.toggle-circle{
    width:17.7rem;
    height: 17.7rem
    border-radius: 999rem
    background: rgba(0,0,0,.9)
}