body {
  background-attachment: fixed;
  background-image: url("bk7.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

h1 {
  margin-left: 20px;
  font-size: 50px;
  font-family: "synthemesc", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #D26D37;
  text-shadow: 0 0 10px #ffffff;
}

h2 {
  font-size: 28px;
  color: #D57A48;
  margin-left: 10px;
  font-family: "synthemesc", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 5px #ffffff;
}

#mt {
  height: 70px;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  opacity: 0.5;
  animation: rotate 4s linear infinite;
}

 @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
}

svg {
  width: 100%;
  height: 100px;       
}

.left-image, .center-text, .bottom-image, .right-image {
  box-sizing: border-box;
  flex: 1 1 25%; 
  padding: 0px;
}

.center-text{
  margin-top: -10px;
}

.bottom-image {
  align-self: flex-end;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  position: relative;
}

.hover3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.bottom-image:hover .hover3 {
  opacity: 1;
}

.text3 {
  font-family: "houschka-rounded", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.65; 
  color: #6A4524;
  text-shadow: 0 0 5px #ffffff;
  background: rgba(255,230,213,0.7);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.right-image {
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.hover2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.right-image:hover .hover2 {
  opacity: 1;
}

.text2 {
  font-family: "houschka-rounded", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.65; 
  color: #6A4524;
  text-shadow: 0 0 5px #ffffff;
  background: rgba(255,230,213,0.7);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.left-image {
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.hover1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.left-image:hover .hover1 {
  opacity: 1;
}

.text1 {
  font-family: "houschka-rounded", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.65; 
  color: #6A4524;
  text-shadow: 0 0 5px #ffffff;
  background: rgba(255,230,213,0.7);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  text-align: left;
  font-family: "houschka-rounded", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.65; 
  color: #6A4524;
  text-shadow: 0 0 10px #ffffff;
}

footer {
  font-size: 15px;
  text-align: center;
  font-family: "houschka-rounded", sans-serif;
  font-weight: 800;
  line-height: 1.65;
  background-color: #FFE6D5;
  padding: 5px;
  position: fixed;
  margin-top: 150px;
  margin-left: 15px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .left-image, .center-text, .bottom-image, .right-image {
    flex: 1 1 100%;
    margin: 15px;
  }
}