body {
  background-attachment: fixed;
  background-image: url('e3bk.gif'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

marquee{
 font-size:20px;
 font-family: "pf-pixelscript", sans-serif;
 font-weight: 400;
 font-style: normal;
 color:#9FF4DF;
}

h1{
 font-family: "lores-9-plus-narrow", sans-serif;
 font-weight: 400;
 font-style: normal;
 color:#9FF4DF;
 font-size: 40px;
}

h3{
 font-size:20px;
 font-family: "pf-pixelscript", sans-serif;
 font-weight: 400;
 font-style: normal;
 color:#9FF4DF;
}

p{
 font-family: "lores-9-plus-narrow", sans-serif;
 font-weight: 400;
 font-style: normal;

 font-size:15px;
 line-height: 1.2;
 color:#3A2DD6;


 background-color:#9FF4DF;
 margin: 20px 80px 35px 80px;
}
