body {
    background-image: url('mikubk.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.content1 {
    display: flex;

}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5vw;
}

h1 {
    animation: bounce 1s infinite; 
    color: #216E6E;
    text-shadow:
        -3px -3px 0 white,
         3px -3px 0 white,
        -3px  3px 0 white,
         3px  3px 0 white; 
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

img {
    width: 45vw;
    object-fit: cover;
    padding-left: 5vw;
}

a {
    font-size: 50px;
    text-decoration: none;
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white; 
    text-shadow:
    -4px -4px 0 #267E78,  
     4px -4px 0 #267E78,
    -4px  4px 0 #267E78,
     4px  4px 0 #267E78; 
    padding: 0.5rem;
    transition: 0.2s;
}

a:hover {
    background-color: #267E78;
    border-radius: 100px;
    padding: 10px 20px 20px 20px;
}

.aboutbtn {
    font-size: 1rem;
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #267E78;
    background-color: transparent;
    padding: 1rem; 
    border: 2px solid #267E78; 
    border-radius: 50px; 
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer; 
    transition: 0.2s;
}

.aboutbtn:hover {
    background-color: #53CACA;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20%;  
}

.modalcontent {
    color: #267E78;
    background-color: #C1ECEC;
    margin: auto;
    padding: 1.5rem 2.2rem;
    width: 360px;
    border-radius: 10px;
    text-align: center;
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.7rem;
    letter-spacing: -0.5px;
    word-spacing: 1.5px;  
}

.close {
    color: #267E78;
    float: right;
    margin-top: -1rem;
    margin-right: -1rem;
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-25px); 
    }
}