body {
    background-image: url('mikubk.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.content1 {
    display: flex;

}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5vw;
}

h1 {
    color: #267E78;
    text-shadow:
    -3px -3px 0 #fff,  
     3px -3px 0 #fff,
    -3px  3px 0 #fff,
     3px  3px 0 #fff; 
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

img {
    width: 45vw;
    object-fit: cover;
    padding-left: 5vw;
}

a {
    font-size: 45px;
    color: white;
    text-decoration: none;
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #267E78;
    text-shadow:
    -3px -3px 0 #fff,  
     3px -3px 0 #fff,
    -3px  3px 0 #fff,
     3px  3px 0 #fff; 
}
