body {
      align-items: center;
      justify-content: center;
      background-color: #684DA8; 
      transition: background-color 0.3s ease;
    }

img {
	text-align: center;
	max-height: 400px;
	cursor: pointer;
	margin-top: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

h1 {
	margin-top: 45px;
	text-align: center;
	font-family: "eight", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
    color: #FDF0CE;
}

h3 {
	font-family: "puffin-display-soft", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #FCD79F;
    font-size: 23px;
    margin-top: -15px;
    text-align: center;
}

.text {
	text-align: center;
	font-family: "puffin-display-soft", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    color: #FDF0CE;
    max-width: 750px;
    line-height: 1.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.click {
	margin-top: 60px;
	text-align: center;
	font-family: "puffin-display-soft", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    color: #FCD79F;
}