
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
  }
  
  .tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%; 
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1;
    margin-top: 1rem;
    
}


  h2 {
    font-family: "magistral", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #133F3C;
  }
  
  .tag {
    padding: 10px 10px;
    border-radius: 50px;
    padding: 0.5rem;
    margin: 0 0.2rem; 

    border-color: #39c5bb;
    cursor: pointer;
    background-color: #E0F6F4;
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }

  .tag {

 
      border: 2px solid #39c5bb;
      outline: 2px solid #39c5bb;
      outline-offset: -2px;
    
      color: #2E9E97;
      
      cursor: pointer;
      transition: outline-offset 200ms ease;
    }

  .tag:hover {
      color: #1C5F5A;
      border: 2px solid #2E9E97;
      outline: 2px solid #2E9E97;
      background-color: #C0ECE9;
      outline-offset: 3px;
    }

    .tag:active{
      transform: scale(0.95);
    }
  
  
  .content {
    margin-top: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info {
    flex: 1;
    text-align: center;
    font-family: "magistral", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 2rem;
    padding-left: 2rem;
    max-width: 50%;

  }
  
  .controls {
    position: fixed; 
    bottom: 0;
    margin-bottom: 1rem;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    bottom: 20px; 
  }
  
  .controls button {
    padding: 10px 10px;
    border-radius: 50px;
    margin: 0 5px;
    border: 2px solid #39c5bb;
    
  
    color: #2E9E97;
    border-color: #39c5bb;
    background-color: #E0F6F4;
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    transition:  200ms ease;
  }

  .controls button:hover {
    color: #ffffff;
    
    background-color: #43C7BE;
    outline-offset: 3px;
  }


  #movingGif {
    width: 200px;
    opacity: 0.95;
    position: absolute; 
    z-index: -1; 
}


  @media screen and (max-width: 768px) {

    .tags {  
        position: static; 
        width: 90%;
        justify-content: center; 
        margin: 0 auto; 
        text-align: center; 
        margin-left: 50%;
    }

    .info {
        margin-top: -0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .controls {
        position: static;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        bottom: 0;
        transform: none;
        text-align: center;
        width: 100%;
    }

    .content {
        flex-direction: column; 
    }


 }

