// FIND YOUR COCKTAIL
color: #F76262;
 font-size: 50px;
 font-family: Pacifico;
 font-weight: 400;
 word-wrap: break-word
---
// Pick the ingredients you want!<br/> If you don’t have idea, just click “ready”.
color: #216583;
 font-size: 20px;
 font-family: Eagle Lake;
 font-weight: 400;
 word-wrap: break-word
---
// ready! 
color: #FFF1C1;
 font-size: 70px;
 font-family: Pacifico;
 font-weight: 400;
 letter-spacing: 0.70px;
 word-wrap: break-word
---
// pineapple <br/>juice
color: black;
 font-size: 14px;
 font-family: Eagle Lake;
 font-weight: 400;
 word-wrap: break-word