body {
  background-attachment: fixed;
  background-image: url('e10gif1.gif'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

#imagecontainer {
  position: relative;
  overflow: hidden;
  margin-left: 15%;
  margin-top: 6vh;
}

#slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex: 0 0 auto;
}

.slide img {
  max-height: 420px;
  width: auto;
}

#title {
  font-family: "chorine-large", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  margin-top: 40px;
  margin-left: 40px;
  letter-spacing: 1.3px;
  color: #FC57B8;
  text-shadow: 0 0 10px #FFD6ED;
}

h2 {
  font-family: "brevia", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  margin-left: 40px;
  margin-top: -35px;
  line-height: 1.7;
  word-spacing: 1.3px;
  letter-spacing: -0.3px;
  color: #AD6CD9;
  text-shadow: 0 0 10px #FD9BD4;
}

#togglebutton {
  margin-top: 40px;
  margin-left: 40px;
  padding: 10px;
  font-size: 15px;
  font-family: "brevia", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #704DD1;
  background-color: #FFD7EE;
  cursor: pointer;
  text-shadow: 0 0 5px #ffffff;
  border-radius: 5px;
}

#content {
  width: 60%;
  margin: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
}

p {
  font-family: "brevia", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 19px;
  line-height: 1.7;
  word-spacing: 1.3px;
  letter-spacing: -0.3px;
  color: #704DD1;
  text-shadow: 0 0 10px #FFD6ED;
}

#scrollingtext {
  position: fixed;
  top: 5vh;
  right: 10vh;
  width: 300px; 
  height: 100vh;
  overflow: hidden;
  white-space: nowrap; 
  z-index: 100;
}

#scrollingtext {
  animation: scroll 10s linear infinite; 
  transform: translateY(100%);
}

#scrollingtext {
  font-family: "brevia", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #FB23A1;
  text-shadow: 0 0 15px #FFFFFF;
}

@keyframes scroll {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%); 
  }
}

footer {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 25px;
}

a {
  font-size: 15px;
  font-family: "brevia", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #704DD1;
  line-height: 2.8;
  background-color: #FFD7EE;
  padding: 8px 10px;
  border-radius: 5px;
  text-shadow: 0 0 5px #ffffff;
}