.element {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
}

.element .overlap-group {
    position: relative;
    height: 982px;
}

.element .ellipse {
    position: absolute;
    width: 1109px;
    height: 976px;
    top: 0;
    left: 0;
}

.element .img {
    position: absolute;
    width: 995px;
    height: 894px;
    top: 88px;
    left: 517px;
}

.element .text-wrapper {
    position: absolute;
    width: 362px;
    top: 211px;
    left: 361px;
    opacity: 0.9;
    font-family: "BIZ UDPMincho-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.13px;
    line-height: 32px;
}

.element .there-are-no-doubt {
    position: absolute;
    width: 329px;
    top: 371px;
    left: 863px;
    opacity: 0.85;
    font-family: "BIZ UDPMincho-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.13px;
    line-height: 32px;
}

