.element {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
}

.element .overlap-group {
    position: relative;
    width: 1059px;
    height: 768px;
    top: 9px;
    left: 133px;
}

.element .ellipse {
    position: absolute;
    width: 784px;
    height: 768px;
    top: 0;
    left: 0;
}

.element .div {
    position: absolute;
    width: 345px;
    height: 345px;
    top: 339px;
    left: 714px;
    background-color: #000000;
    border-radius: 172.5px;
    filter: blur(200px);
}

.element .text-wrapper {
    position: absolute;
    width: 362px;
    top: 202px;
    left: 228px;
    opacity: 0.9;
    font-family: "BIZ UDPMincho-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.13px;
    line-height: 32px;
}

.element .there-are-no-doubt {
    position: absolute;
    width: 329px;
    top: 362px;
    left: 730px;
    opacity: 0.85;
    font-family: "BIZ UDPMincho-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.13px;
    line-height: 32px;
}
