body {
 background-image: url("e5bk.jpg");
 background-size: 100%;
}

h1{
  color:white;
  font-family: "grover-slab", serif;
  font-weight:400;
  font-style: normal;
  font-size:24px;
}

h3{
  color:white;
  font-family: "grover-slab", serif;
  font-weight:400;
  font-style: normal;
  font-size:18px;
}

.t1 {
  color: white;
  margin-top:10px;
  font-size:18px;
  font-family: "grover-slab", serif;
  font-weight:400;
  font-style: normal;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.y1t {
  display: none;
}
    
.y1:hover + .y1t {
  display: block;
  color: #F07F9D;
  font-size:18px;
  font-family: "grover-slab", serif;
  font-weight:400;
  font-style: normal;
  float:left;
  margin-top:40px;
  margin-left:0px;
}

.y2t {
  display: none;
}
    
.y2:hover + .y2t {
  display: block;
  color: #F07F9D;
  font-size:18px;
  font-family: "grover-slab", serif;
  font-weight:400;
  font-style: normal;
  float:left;
  margin-left:600px;
  margin-bottom:50px;
}

.left-text{
  text-align: left;
  color: white;
  position: relative;
  width: 280px;
  height: auto;
  font-family: "grover-slab", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 1.6;
}

.right-text{
  text-align: right;
  color: white;
  position: relative;
  width: 280px;
  height: auto;
  font-family: "grover-slab", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 1.6;
}

.y1{
  position:relative;
  float:left;
  margin-left:290px;
  margin-top:20px;
}

.y2{
  position:relative;
  float:right;
  margin-right:330px;
  margin-top:40px;
}

.yb{
  position:relative;
  float:left;
  margin-left:355px;
  margin-top:30px;
}

