body {
  background-attachment: fixed;
  background-image: url("e5bk.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

footer{
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  background-color: lightpink;
  margin-top: 30px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.left-text, .right-text {
  flex: 1;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  padding: 10px;
}

.center-images {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
  margin-top: 45px;
  margin-right: -160px;
}

.center-image {
  flex: 0 0 40%; 
  margin: -10px;
  transition: transform 0.3s ease-in-out;
}

.center-image:hover {
  transform: scale(1.12);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

.center-images {
  flex: 1;
}

.center-image {
    flex: 0 0 100%;
  }
}

.t1 {
  color: white;
  font-family: "meatball", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}

h3{
  color: white;
  font-family: "grover-slab", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 19px;
  margin-top: -5px;
  text-align: center;
}

.top {
  text-align: center;
  margin-bottom: -10px;
}

.overlay{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
 }
}

.top-text {
  color: white;
  font-family: "meatball", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.top:hover .overlay{
  opacity: 1;
}

.content{

}

p:hover {
  background-color: #FCA4B0;
  padding: 10px;
  text-shadow: 0 0 3px #B71540;
}

.left-text{
  text-align: left;
  color: white;
  position: relative;
  width: 450px;
  height: auto;
  font-family: "grover-slab", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 1.6;
}

.right-text{
  text-align: right;
  color: white;
  position: relative;
  width: 450px;
  height: auto;
  font-family: "grover-slab", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 1.6;
}
